body
{
  background-color: grey;
  widows: 100%;
}
h1
{
  background-color: grey;
  width: 100%;
}
h2
{
  background-color: white;
  width: 70%;
  float: left;
  min-width: 200px;
  height: 600px;
  text-overflow: inherit;
}
aside
{
  background-color: lightgreen;
    width: 30%;
    float: left;
    min-width: 30px;
    height: 600px;
    text-overflow: clip;
}
